@import './mixin.scss';


$bg-main: #f1f1f1;
// $fontMain: "Raleway";
$colorMainFont: #262633;

*{
  color: $colorMainFont
}

.hello-world{
  &__container-box{
    font-weight: 900;
    @include nsm {
    }
  }
}
